@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Serif+4&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Source Serif 4', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?landscape') ;
}
.card{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 35px 30px;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}
.search{
    display: flex;
    justify-content: center;
}
.search input{
    background: rgba(49, 49, 49, 0.6);
    border: none;
    color: white;
    padding: 0px 13px;
    border-radius: 50px;
    font-size: 20px;
    width: calc(100% - 85px);
    outline: none;
}
.search button{
    padding: 5px;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    font-size: 17px;
    background-color: rgba(49, 49, 49, 0.6);
    color: rgb(199, 199, 199);
    border: none;
    outline: none;
    cursor: pointer;
}
.search button:hover{
    background-color: rgba(59, 59, 59, 0.8);
}
.weatherCity{
    font-size: 30px;
    padding: 0px 10px;
    margin: 35px 0 25px 0;
}
.weather{
    font-size: 40px;
    padding: 0px 10px;
    margin: 5px 0 25px 5px;
}
.flex{
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px 5px 18px;
}
.humidity , .wind{
    padding: 5px 0 0px 15px;
    margin: 0;
}
.humidity{
    margin: 15px 0 6px 0;
}